{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    {{ form_start(registrationForm) }}
        <div class="form">

        {# form_row(registrationForm.username) }#}
            <h1>Sign Up</h1>
            <h3>to create an account</h3>
        {{ form_label(registrationForm.username, "Username:", {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(registrationForm.username, {'attr': {'class': 'input'}} ) }}

        {{ form_label(registrationForm.first_name, "First name:",{'label_attr': {'class': 'label'}}) }}
        {{ form_widget(registrationForm.first_name, {'attr': {'class': 'input'}}) }}

        {{ form_label(registrationForm.last_name, "Last name:",{'label_attr': {'class': 'label'}}) }}
        {{ form_widget(registrationForm.last_name, {'attr': {'class': 'input'}}) }}

        {{ form_label(registrationForm.email, "Email:",{'label_attr': {'class': 'label'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'input'}}) }}

        {{ form_label(registrationForm.plainPassword, "Password:",{'label_attr': {'class': 'label'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input'}}) }}

        {{ form_label(registrationForm.agreeTerms, "Agree to terms:",{'label_attr': {'class': 'label'}}) }}
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'agree'}}) }}
            <br>

        <button class="btn">Register</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
