{% extends('base.html.twig') %}
{% block body %}
    <article style="background-color: #ffffff;">
        <section>
            <h1 class="products-header">PRODUCTS</h1>
            <form action="{{ path("products") }}"
                  style="color: #000000; background-color: #ffffff; margin-top: -19px;" method="post">
                <div class="filters">
                    <span class="filter-opener" id="brand" onclick="openFilter(id);">Brand</span>
                    <span class="filter-opener" id="size" onclick="openFilter(id);">Size</span>
                    <span class="filter-opener" id="type" onclick="openFilter(id);">Type</span>
                    <span class="filter-opener" id="price" onclick="openFilter(id);">Price</span>
                </div>
                <div class='filter-items' id='brand_sub'>
                    {% for brand in brands %}
                    <div class='filter-items-border'>
                        <label for='{{ brand.brand }}'>{{ brand.brand }}</label>
                        <input value='{{ brand.brand }}' id='{{ brand.brand }}' type='checkbox' name='brand[]'>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Search" name="search" class="search">
                </div>
                <div class='filter-items' id='size_sub'>
                    {% for size in sizes %}
                        <div class='filter-items-border'>
                            <label for='{{ size.size }}'>{{ size.size }}</label>
                            <input value='{{ size.size }}' id='{{ size.size }}' type='checkbox' name='size[]'>
                        </div>
                    {% endfor %}
                    <input type="submit" value="Search" name="search" class="search">
                </div>
                <div class='filter-items' id='type_sub'>
                    {% for type in types %}
                        <div class='filter-items-border'>
                            <label for='{{ type.type }}'>{{ type.type }}</label>
                            <input value='{{ type.type }}' id='{{ type.type }}' type='checkbox' name='type[]'>
                        </div>
                    {% endfor %}
                    <input type="submit" value="Search" name="search" class="search">
                </div>

            <div class="filter-items" id="price_sub">
                <label for="min_price">Minimal price: </label>
                <input type="number" name="min_price" id="min_price">
                <label for="max_price">Maximum price: </label>
                <input type="number" name="max_price" id="max_price">
                <input type="submit" value="Search" name="search" class="search">
            </div>
            </form>
            <div class='product-list'>
                {% for product in products %}
                    <div class='product-container'>
                        <img class='product-img' src={{ asset("images/#{product.img}.jpg") }} alt="{{ product.img }}">
                        <h1 class='product-header' style="background-image: {{ asset('images/products-background.jpg') }}">{{ product.name }}</h1>
                        <p class='product-description'>{{ product.description }}</p>
                        <p class='product-price'>{{ product.price }},-</p><br>
                        <p class='product-size'></p><br>
                        <button class='button-buy'>BUY</button>
                    </div>
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}