{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
        <section class="profile-section" style="">
            <div class="profile">
                <h1>Account Information</h1>
                <div class="account-information">

                    <img src="{{ asset("images/acc.png") }}" >

                    <div>
                        <p>{{user.getUsername()}}</p>
                        <p>{{user.getEmail()}}</p>
                    </div>
                    <div class="profile-button">
                        <button>EDIT</button>
                    </div>
                </div>

                <h1>Personal Information</h1>
                <div class="personal-information">
                    <div class="personal-info-elements">
                        <p>First name</p>
                        <p>Last name</p>
                        <p>Phone Number</p>
                        <br>
                        <p>Country</p>
                        <p>City</p>
                        <p>Postal Code</p>
                        <p>Adress</p>

                    </div>
                    <div style="margin-left: 20px;" class="personal-info-details">
                        <p>{{ user.getFirstName() }}</p>
                        <p>{{ user.getLastName() }}</p>
                        <p>{{ user.getPhoneNumber() ? user.getPhoneNumber() : "Neuvedené" }}</p>
                        <br>
                        <p>{{ user.getCountry() ? user.getCountry() : "Neuvedené" }}</p>
                        <p>{{ user.getCity() ? user.getCity() : "Neuvedené" }}</p>
                        <p>{{ user.getPostal() ? user.getPostal() : "Neuvedené"  }}</p>
                        <p>{{ user.getStreet() ? user.getStreet() : "Neuvedené"  }}</p>

                    </div>
                </div>

                <div class="profile-button">
                    <button>EDIT</button>
                </div>
            </div>


            <div class="orders">
                <div class="all-orders">
                    <div class="order-tags">
                        <p>Shoe Name</p>
                        <p>Price</p>
                        <p>Order Date</p>
                        <p>Order Number</p>
                    </div>
                    <div class="order-info">

                    </div>
                </div>
            </div>

            <div class="orders-phone">
                <div class="order-item-phone">
                    <p>Shoe Name</p>
                    <img src="{{ asset("images/arrow-down.png") }}" class="arrow-down" id="arrow-down" alt="arrow-down" >
                </div>
                <div class="order-item-phone-details" id="opendetails">
                    <div class="order-item-phone-tags">
                        <p>Price</p>
                        <p>Order Date</p>
                        <p>Order Number</p>
                    </div>
                    <div class="order-item-phone-info">
                        <p>600€</p>
                        <p>24.1.2020</p>
                        <p>45642112</p>
                    </div>
                </div>

                <div class="order-item-phone">
                    <p>Shoe Name</p>
                    <img src="{{ asset("images/arrow-down.png") }}" class="arrow-down" id="arrow-down" alt="arrow-down" >
                </div>
                <div class="order-item-phone-details" id="opendetails">
                    <div class="order-item-phone-tags">
                        <p>Price</p>
                        <p>Order Date</p>
                        <p>Order Number</p>
                    </div>
                    <div class="order-item-phone-info">
                        <p>600€</p>
                        <p>24.1.2020</p>
                        <p>45642112</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}