{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <section>
            <div class="contact-us">
                <h1>{% trans %}CONTACT_US{% endtrans %}</h1>
                <h4>{% trans %}ANY_QUESTIONS{% endtrans %}</h4>
            </div>
            <div class="contact">
                <div class="contact-box">
                    <div>
                        <img src="{{ asset("images/marker.png") }}" alt="marker">
                        <p>City</p>
                        <p>Adress</p>
                        <p>Postal code</p>
                    </div>
                </div>

                <div class="contact-box">
                    <div>
                        <img src="{{ asset("images/email.png") }}" alt="email">
                        <p>email@mail.com</p>
                    </div>
                </div>

                <div class="contact-box">
                    <div>
                        <img src="{{ asset("images/phone.png") }}" alt="pthone">
                        <p>+421 454 420 666</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="map">
            <h1> {% trans %}FIND_US_HERE{% endtrans %}</h1>
            <div id="mapid" style="height: 50rem;">
            </div>
        </section>
    </article>
    <footer class="page-footer">
        <div class="developers">
            <p>Stránku vytvorili</p>
            <p>Peter Janoš</p>
            <p>Branislav Hozza</p>
        </div>
        <div class="footer-contact">
            <h1>SOCIÁLNE SIETE</h1>
            <a href="https://www.instagram.com/slovakstore/?hl=sk"><img style="width: 4rem; height: auto;" src="{{ asset('/images/ig.png') }}"></a>
            <h1>KONTAKT</h1>
            <p>hsdfghsfgh@asdfgasdf.com</p>
            <p>696969696969</p>
        </div>
        <div class="footer-nav">
            <a href="{{ path('index') }}">{% trans %}HOME{% endtrans %}</a>
            <a href="{{ path('products') }}">{% trans %}PRODUCTS{% endtrans %}</a>
            <a href="{{ path('blog') }}">{% trans %}BLOG{% endtrans %}</a>
            <a href="{{ path('contact') }}">{% trans %}CONTACT{% endtrans %}</a>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('user_profile') }}">{% trans %}PROFILE{% endtrans %}</a>
            {% else %}
                <a href="{{ path('user_login') }}">{% trans %}LOG_IN{% endtrans %}</a>
            {% endif %}
        </div>
    </footer>
{% endblock %}