{% extends('base.html.twig') %}
{% block body %}
    <article style="background-color: #ffffff;">
        <section style="">
            <div class="product-detail">
                <div class="product-photo">
                    <h2 style="margin-left: 3rem;">Produkty > {{ product.brand }} {{ product.name }}</h2>
                    <img src={{ asset("images/#{product.img}.jpg") }} alt="{{ product.img }}" alt="img">
                </div>
                <div class="product-order">
                    <h1>{{ product.brand }} {{ product.name }}</h1>
                    <p>{{ product.description }}</p>
                    <div class="detail-sizes">
                        <p>EUR {{ product.size }}</p>
                        <p>${{ product.price }}</p>
                    </div>
                    <form action="{{path("order_create")}}">
                        <input type="hidden" name="id" value="{{ product.getId() }}">
                        <input type="submit" class="btn">
                    </form>
                </div>
            </div>
            <div class="shipping">
                <div class="shipipng-img">
                    <img src="{{ asset("images/shipping.png") }}">
                </div>
                <div class="shipping-info">
                    <h1>Doručenie</h1>
                    <p>Všetky objednávky posielame Slovenskou poštou na dobierku, alebo cez osobný odber v
                        mestách Košice, Spišská Nová Ves, Spišské Podhradie, Poprad, Prešov, atď.</p>
                    <p>Ak máte otázky, kontaktujte nás pre bližšie ifnormácie.</p>
                </div>
            </div>

            <div>
                <h1>Veľkostná tabuľka</h1>
            </div>


        </section>
    </article>
{% endblock %}