{% extends('base.html.twig') %}
{% block body %}
    <article style="background-color: #E2E2E2;">
        <form action="{{ path("products") }}"
              method="post" id="form">
            <section>
                <h1 class="products-header">PRODUCTS</h1>
                <div class="filters">
                    <span class="filter-opener" id="brand" onclick="openFilter('brand');">{% trans %}BRAND{% endtrans %}</span>
                    <span class="filter-opener" id="size" onclick="openFilter('size');">{% trans %}SIZE{% endtrans %}</span>
                    <span class="filter-opener" id="price" onclick="openFilter('price');">{% trans %}PRICE{% endtrans %}</span>
                </div>
                <div class='filter-items' id='brand_sub' style="z-index: 200;">
                    {% for brand in brands %}
                        <div class='filter-items-border'>
                            <label for='{{ brand.brand }}'>{{ brand.brand }}</label>
                            {% if brand.brand in old_brand %}
                                <input value='{{ brand.brand }}' id='{{ brand.brand }}' type='checkbox' name='brand[]'
                                       checked>
                            {% else %}
                                <input value='{{ brand.brand }}' id='{{ brand.brand }}' type='checkbox' name='brand[]'>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="search-div">
                        <input type="submit" value="Search" name="search" class="search">
                    </div>
                </div>
                <div class='filter-items' id='size_sub'>
                    {% for size in sizes %}
                        <div class='filter-items-border'>
                            <label for='{{ size.size }}'>{{ size.size }}</label>
                            {% if size.size in old_size %}
                                <input value='{{ size.size }}' id='{{ size.size }}' type='checkbox' name='size[]'
                                       checked>
                            {% else %}
                                <input value='{{ size.size }}' id='{{ size.size }}' type='checkbox' name='size[]'>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="search-div">
                        <input type="submit" value="Search" name="search" class="search">
                    </div>
                </div>

                <div class="filter-items" id="price_sub">

                    <div class="price-sub">
                        {% if old_price[0] is null %}
                            <input type="number" class="price" placeholder="{% trans %}FROM{% endtrans %}" name="min_price" id="min_price">
                        {% else %}
                            <input type="number" class="price" placeholder="{% trans %}FROM{% endtrans %}" name="min_price" id="min_price"
                                   value="{{ old_price[0] }}">
                        {% endif %}
                        {% if old_price[1] is null %}
                            <input type="number" class="price" placeholder="{% trans %}TO{% endtrans %}" name="max_price" id="max_price">
                        {% else %}
                            <input type="number" class="price" placeholder="{% trans %}TO{% endtrans %}" name="max_price" id="max_price"
                                   value="{{ old_price[1] }}">
                        {% endif %}
                        <div class="search-div">
                            <input type="submit" value="Search" name="search" class="search">
                        </div>
                    </div>
                </div>
                <div class="sort-by">
                    <select name="sort_by" id="sort_by" onchange="document.getElementById('form').submit();">
                        {% if old_sort == "name" %}
                            <option value="name" selected>{% trans %}NAME_PRODUCT{% endtrans %}</option>
                        {% else %}
                            <option value="name">{% trans %}NAME_PRODUCT{% endtrans %}</option>
                        {% endif %}

                        {% if old_sort == "name_DESC" %}
                            <option value="name_DESC" selected>{% trans %}NAME_PRODUCT_DESC{% endtrans %}</option>
                        {% else %}
                            <option value="name_DESC">{% trans %}NAME_PRODUCT_DESC{% endtrans %}</option>
                        {% endif %}

                        {% if old_sort == "price" %}
                            <option value="price" selected>{% trans %}PRICE_PRODUCT{% endtrans %}</option>
                        {% else %}
                            <option value="price">{% trans %}PRICE_PRODUCT{% endtrans %}</option>
                        {% endif %}

                        {% if old_sort == "price_DESC" %}
                            <option value="price_DESC" selected>{% trans %}PRICE_PRODUCT_DESC{% endtrans %}</option>
                        {% else %}
                            <option value="price_DESC">{% trans %}PRICE_PRODUCT_DESC{% endtrans %}</option>
                        {% endif %}

                        {% if old_sort == "brand" %}
                            <option value="brand" selected>{% trans %}BRAND_PRODUCT{% endtrans %}</option>
                        {% else %}
                            <option value="brand">{% trans %}BRAND_PRODUCT{% endtrans %}</option>
                        {% endif %}

                        {% if old_sort == "brand_DESC" %}
                            <option value="brand_DESC" selected>{% trans %}BRAND_PRODUCT_DESC{% endtrans %}</option>
                        {% else %}
                            <option value="brand_DESC">{% trans %}BRAND_PRODUCT_DESC{% endtrans %}</option>
                        {% endif %}

                        {% if old_sort == "size" %}
                            <option value="size" selected>{% trans %}SIZE_PRODUCT{% endtrans %}</option>
                        {% else %}
                            <option value="size">{% trans %}SIZE_PRODUCT{% endtrans %}</option>
                        {% endif %}

                        {% if old_sort == "size_DESC" %}
                            <option value="size_DESC" selected>{% trans %}SIZE_PRODUCT_DESC{% endtrans %}</option>
                        {% else %}
                            <option value="size_DESC">{% trans %}SIZE_PRODUCT_DESC{% endtrans %}</option>
                        {% endif %}
                    </select>
                </div>
                <div class='product-list'>
                    {% for product in products %}
                        <div class='product-container' data-aos="fade-up"  data-aos-duration="500" data-aos-once="true" style="z-index: 0;">
                            <div style="height: 240px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.46); background-color: white; border-radius: 1rem;">
                                <a href="{{ path('products_detail',{product: product.getId()}) }}">
                                    <img class='product-img'
                                         src={{ asset("images/#{product.img}") }} alt="{{ product.img }}" alt="img">
                                </a>
                            </div>
                            <div class="product-info">
                                <h1 class='product-header'
                                    style="background-image: {{ asset('images/products-background.jpg') }}; float: left;">{{ product.brand }} {{ product.name }}</h1>
                                <p class='product-description'
                                   style="float:left; text-align: left; width: 100%;">{{ product.description }}</p>
                                <p class='product-price' style="float: right; margin-top: -12%;">
                                    ${{ product.price }}</p><br>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                <div class="paging">


                    {% if page > 1 %}
                        <input type="submit" name="page" value="{{ page-1 }}">
                    {% endif %}
                    <p>{{ page }}</p>
                    {% if products|length > 19 %}
                        <input type="submit" name="page" value="{{ page+1 }}">
                    {% endif %}

                </div>
            </section>
        </form>
        <footer class="page-footer">
            <div class="developers">
                <p>Stránku vytvorili</p>
                <p>Peter Janoš</p>
                <p>Branislav Hozza</p>
            </div>
            <div class="footer-contact">
                <h1>SOCIÁLNE SIETE</h1>
                <a href="https://www.instagram.com/slovakstore/?hl=sk"><img alt="instagram" style="width: 4rem; height: auto;" src="{{ asset('/images/ig.png') }}"></a>
                <h1>KONTAKT</h1>
                <p>hsdfghsfgh@asdfgasdf.com</p>
                <p>696969696969</p>
            </div>
            <div class="footer-nav">
                <a href="{{ path('index') }}">{% trans %}HOME{% endtrans %}</a>
                <a href="{{ path('products') }}">{% trans %}PRODUCTS{% endtrans %}</a>
                <a href="{{ path('blog') }}">{% trans %}BLOG{% endtrans %}</a>
                <a href="{{ path('contact') }}">{% trans %}CONTACT{% endtrans %}</a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('user_profile') }}">{% trans %}PROFILE{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('user_login') }}">{% trans %}LOG_IN{% endtrans %}</a>
                {% endif %}
            </div>
        </footer>
    </article>
{% endblock %}