{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <article class="article-blog">
        <h1>{% trans %}BLOGS{% endtrans %}</h1>
        {% if is_granted('ROLE_USER') %}
            <a class="create-blog" href="{{ path('blog_create') }}">{% trans %}CREATE_POST{% endtrans %}</a>
            <a class="create-blog-phone" href="{{ path('blog_create') }}"><img src="{{ asset("images/add.png") }}"></a>
        {% endif %}
        <form action="{{ path("blog") }}"
              method="post" id="form">
            <div class="blog-search">
                <input id="searchbar" class="blog-search-input" type="text" placeholder="{% trans %}SEARCH_HERE{% endtrans %}" name="search_phrase" autocomplete="off" value="{{ phrase }}"><br>
                <!--<input type="submit" style="visibility: hidden">-->
            </div>

        </form>
            <div id="blogs">
            {% for blog in blogs %}
                <div class="blog-container">
                    <p class="blog-user">u/{{ blog.user.username }}</p>
                    <h2 class="blog-title">{{blog.title}}</h2>
                    <p class="blog-text">{{ blog.text }}</p>
                    <p class="blog-date">{% trans %}CREATED_ON{% endtrans %}: {{ blog.getCreatedAt()|date("d/m/Y") }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('blog_remove', {blog: blog.id}) }}" id="delete">
                        <input type="submit" value="{% trans %}DELETE{% endtrans %}">
                    </form>
                    {% endif %}
                </div>

            {% endfor %}
            </div>
            <div class="paging">

                {% if page > 1 %}
                    <input type="submit"  name="next_page" value="{{ page-1 }}" class="page-button">
                {% endif %}
                <p>{{ page }}</p>
                {% if blogs|length > 19 %}
                    <input type="submit" id="next" name="next_page" value="{{ page+1 }}" class="page-button">
                {% endif %}

            </div>

    </article>
{% endblock %}