<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("css/leaflet.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/leaflet.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
<div class="announcement" id="announcement">{{ announce }}</div>
<nav>
    <ul class="nav">
        <li class="nav-item-left"><a href="{{ path("index") }}">{{ title }}</a></li>
        <li class="nav-item"><a href="{{ path('index') }}">{% trans %}HOME{% endtrans %}</a></li>
        <li class="nav-item"><a href="{{ path('products') }}">{% trans %}PRODUCTS{% endtrans %}</a></li>
        <li class="nav-item"><a href="{{ path('blog') }}">{% trans %}BLOG{% endtrans %}</a></li>
        <li class="nav-item"><a href="{{ path('contact') }}">{% trans %}CONTACT{% endtrans %}</a></li>

        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item"><a href="{{ path('admin') }}">Admin</a></li>
            <li class="nav-item-right"><a href="{{ path('user_profile') }}" class="user">{{ app.user.username }}</a>
            </li>
            <li class="nav-item-right"><a href="{{ path('user_logout') }}">{% trans %}LOG_OUT{% endtrans %}</a></li>
        {% elseif is_granted('ROLE_USER') %}
            <li class="nav-item-right"><a href="{{ path('user_profile') }}" class="user">{{ app.user.username }}</a>
            </li>
            <li class="nav-item-right"><a href="{{ path('user_logout') }}">{% trans %}LOG_OUT{% endtrans %}</a></li>
        {% else %}
            <li class="nav-item-right"><a href="{{ path('user_login') }}">{% trans %}LOG_IN{% endtrans %}</a></li>
        {% endif %}
    </ul>
    {% if admin is defined %}
        {% if admin %}
            <ul class="nav">
                <li class="nav-item"><a href="{{ path('admin_product') }}">{% trans %}ADMIN_PRODUCTS{% endtrans %}</a></li>
                <li class="nav-item"><a href="{{ path('admin_user') }}">{% trans %}ADMIN_BLOG{% endtrans %}</a></li>
                <li class="nav-item"><a href="{{ path('admin_order') }}">{% trans %}ADMIN_ORDERS{% endtrans %}</a></li>
            </ul>
        {% endif %}
    {% endif %}
</nav>

<nav class="nav-phone">
    {% if is_granted('ROLE_USER') %}
        <div class="nav-phone-left">
            <div>
                <p>Logged In As</p>
                <button onclick="openPopup();" class="user-p">{{ app.user.username }}</button>
                <div class="phone-popup" id="popup">
                    <a href="{{ path('user_profile') }}">Profile</a>
                    <br>
                    <a href="{{ path('user_logout') }}">Log out</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="nav-phone-left">
            <div>
                <p>Not Logged In</p>
                <button class="user-p"><a style="color: #308E4F;" href="{{ path('user_login') }}">Log In</a></button>
            </div>
        </div>
    {% endif %}
    <div class="nav-phone-right">
        <ul>
            <li><a href="{{ path('index') }}"><img src="{{ asset("images/home.png") }}"></a></li>
            <li><a href="{{ path('products') }}"><img src="{{ asset("images/store.png") }}"></a></li>
            <li><a href="{{ path('blog') }}"><img src="{{ asset("images/blog.png") }}"></a></li>
            <li><a href="{{ path('contact') }}"><img src="{{ asset("images/phone.png") }}"></a></li>
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}
<footer class="page-footer">
</footer>
<script src="{{ asset("js/script.js") }}"></script>
</body>
</html>
